{
  "sdk_version": "sprint33",
  "executable": "Main.loom",
  "display": {
    "width": 800,
    "height": 600,
    "title": "MyProject",
    "stats": true,
    "orientation": "landscape"
  },
  "app_id": "com.yourcompany.MyProject",
  "app_name": "MyProject",
  "app_version": "0.0.0",
  "app_version_code": "1"
}